<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Maddalena - Découvrez le nouveau single Bay Pop Butcher</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="icon" type="image/ico" href="/core/images/common/favicon.ico">
		<link rel="stylesheet" href="public/core/libraries/bootstrap/css/bootstrap.min.css" type="text/css">

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" style="color: rgb(0, 0, 0);"></script>
		<script type="text/javascript" src="public/core/libraries/angular/angular.min.js"></script>
		<meta name="description" content="Maddalena Indie Pop Rock Progressive Music. Découvrez le nouveau single du groupe, Bay Pop Butcher. E.P à paraitre le 18 Octobre">
		<meta property="og:description" content="Maddalena Découvrez le nouveau single du groupe, Bay Pop Butcher. E.P à paraitre le 18 Octobre">
		<meta property="og:title" content="Maddalena - Découvrez le nouveau single Bay Pop Butcher">
		<meta property="og:site_name" content="Maddalena">
		<meta property="og:image" content="http://www.wearemaddalena.com/img/maddalena_fb.jpg">
		<meta property="og:url" content="http://www.wearemaddalena.com/">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@WeAreMaddelena">
		<meta name="twitter:creator" content="@WeAreMaddelena">
		<meta name="twitter:title" content="Maddalena - Découvrez le nouveau single Bay Pop Butcher">
		<meta name="twitter:description" content="Maddalena Découvrez le nouveau single du groupe, Bay Pop Butcher. E.P à paraitre le 18 Octobre">
		<meta name="twitter:image:src" content="http://www.wearemaddalena.com/img/maddalena_twitter.jpg">
	</head>

	<body>
		<header>
		</header>